name: responsive
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pip:
      - -r requirements.txt

# Usage:
# mamba env create -f environment.yml
# mamba activate responsive
# playwright install chromium

